data
datasets
*.pt
*.pth
*finetuned_model
*.pyc
*.ipynb_checkpoints
preprocess/ASR/missing_srt.csv
preprocess/AOI/object_detection/environment.yml
*/wandb
*/save
preprocess/ASR/missing_srt.csv
dc_notify.sh
*.log
*llamaboard_cache